################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TP-Grupo1/.vs/TP-Grupo1/v16
